{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/add_task.css' %}">
</head>

<form class="my-form" action="" method="post">
    {% csrf_token %}
    <label for="name" class="form-label">Taskname</label>
    <input type="text" name="name" id="name" class="form-input" required>
    
    <label for="desc" class="form-label">Description</label>
    <textarea name="desc" id="desc" class="form-textarea" rows="5"></textarea>
    
    <input type="submit" value="Submit" class="form-submit">
</form>

{% endblock %}