{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<footer>
    <div class="container">
        <ul>
            <li><a href="https://www.instagram.com/bharath.1433/"><img src="/static/img/insta.png" alt="Instagram"></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100009668465597"><img src="/static/img/fb.png" alt="Facebook"></a></li>
            <li><a href="https://wa.me/8802561515"><img src="/static/img/wapp.png" alt="WhatsApp"></a></li>
            <li><a href="https://github.com/mbharath246"><img src="/static/img/git.png" alt="GitHub"></a></li>
        </ul>
        <div class="text">
            <p>Copyright &copy; 2023 Bharath</p>
        </div>
    </div>
</footer>